{% extends 'base.html' %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">新規投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9">
            <div class="card my-3">
                <div class="card--header">
                    <div class="row">
                        <div class="col-12 col-md-8 text-left">
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="col-6 col-md-4 text-right">
                            <a href="#" class="btn">編集</a>
                            <a href="#" class="btn">削除</a>
                        </div>
                    </div>
                </div>
                <img class="card-img-top" src="../media/a_test03.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>

                    <i class="fa fa-comment"></i>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-light text-muted" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        コメント表示/非表示
                    </button>
                    <div class="collapse" id="collapseExample">
                        <ul class="list-group list-group-item-light">
                            <li class="list-group-item">
                                <span>koko</span>
                                Dapibus ac facilisis i
                            </li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>    
                    </div>
                    <form action="">
                        <input type="text" class="form-control">
                        <button type="submit" name="submit_c_form" class="btn btn-primary">送信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- {% block scripts %}
<script>

</script>
      
{% endblock scripts %}
           -->


