{% extends 'base.html' %} 
{% load widget_tweaks %} 


{% block title %} 
Login 
{%endblock title %} 


{% block content %}

<div class="card card-auth my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">ログイン</h5>
    <form method="POST" class="form-auth">
      {% csrf_token %}
      <div class="form-label-group">
        {% render_field form.username class='form-control' placeholder='ユーザー名' %}
      </div>

      <div class="form-label-group">
        {% render_field form.password class='form-control' placeholder='パスワード' %}
      </div>

      <!-- エラー表示開始 -->
      {% if form.errors %}
      <div class="errorlist">
        {% for errors in form.errors.values %} 
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %} 
        {% endfor %}
      </div>
      {% endif %}
      <!-- エラー表示終了 -->

      <b class="text-center my-2">
        <a href="{% url 'accounts:signup' %}">アカウントがない方はこちら</a>
      </b>

      <div class="button mx-auto">
        <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">
          ログイン
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
