{% extends 'base.html' %}

{% block title %}
Delete
{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>      
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}


    <div class="card card-auth my-5 mx-auto">
        <div class="card-body">
            <p class="card-title text-center">本当にこの投稿を削除してもよろしいでしょうか？</p>
            <form method="POST" class="form-auth">
                {% csrf_token %}
                <div class="button mx-auto">
                    <button class="btn btn-lg btn-danger btn-block mx-auto" type="submit">削除する</button>
                </div>
            </form>
        </div>
    </div>
    

    {% endif %}

{% endblock content %}